<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>HW14 - All the News That's Fit to Scrape</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/assets/css/app.css" type="text/css" />
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/assets/js/app.js"></script>
    </head>
	<body>
		{{{ body }}}
	</body>
</html>
